name: Test

on: [push]

jobs:
  prepare:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - run: echo "${{ github.event.head_commit.message }}"

  rspec:
    name: Test on ruby ${{ matrix.ruby }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: prepare
    strategy:
      matrix:
        ruby: [ '2.7.x' ]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Cache Ruby Gem
      uses: actions/cache@v1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile') }}-${{ hashFiles('**/*.gemspec') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: actions/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Build and test with Rake
      run: |
        # gem install bundler -v 2.1.4 # ruby 2.7.0以上であればデフォルトでインストール済み
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3
        bundle exec rake
